<div id="company" class="container-fluid" style="
	font-family: 'Raleway', sans-serif;
">
	<div class="row" style="margin-top: 5%;">
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
		<div class="col-md-8 col-lg-8 col-xl-8">
			<center>
				<h2>
					Software solutions provider
				</h2><br/>
				<p style="font-size: 20px;">We've built a strong leading team of software engineers, designers, project managers and specialists in all areas required to provide high standard products to our clients.</p>
			</center>
		</div>
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
	</div>
	<br/><br/>
</div>
	<div class="container-fluid" id="svgs" style="
	font-family: 'Raleway', sans-serif;
	background-color: #c1eff9;">
	<br/>
	<br/>
		<div class="row">
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary" style="background-color:#ccf1fa; ">
					<div class="card-body">
						<center>
							<%= image_tag("web.svg", :alt => "web", width: 60) %>
							<br/>WEB
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary" style="background-color:#ccf1fa;" >
					<div class="card-body">
						<center>
							<%= image_tag("desk.svg", :alt => "mobile", width: 60) %>
							<br/>DESKTOP
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary" style="background-color:#ccf1fa;" >
					<div class="card-body">
						<center>
							<%= image_tag("mobile.svg", :alt => "web", width: 60) %> 
							<br/>MOBILE
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary" style="background-color:#ccf1fa;" >
					<div class="card-body">
						<center>
							<%= image_tag("ui.svg", :alt => "web", width: 60) %>
							<br/>UI
						</center>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary" style="background-color:#ccf1fa;" >
					<div class="card-body">
						<center>
							<%= image_tag("outsourcing.svg", :alt => "web", width: 60) %>
							<br/>OUTSOURCING
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary" style="background-color:#ccf1fa;" >
					<div class="card-body">
						<center>
							<%= image_tag("headhunting.svg", :alt => "mobile", width: 60) %>
							<br/>HEADHUNTING
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary" style="background-color:#ccf1fa;" >
					<div class="card-body">
						<center>
							<%= image_tag("1077191.svg", :alt => "web", width: 60) %>
							<br/>QUALITY ASSURANCE
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary" style="background-color:#ccf1fa;" >
					<div class="card-body">
						<center>
							<%= image_tag("ux.svg", :alt => "web", width: 60) %>
							<br/>UX
						</center>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-3 col-lg-3 col-xl-3"></div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary" style="background-color:#ccf1fa;" >
					<div class="card-body">
						<center>
							<%= image_tag("qa.svg", :alt => "web", width: 60) %>
							<br/>CONSULTING & AUDIT
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary" style="background-color:#ccf1fa;" >
					<div class="card-body">
						<center>
							<%= image_tag("server.svg", :alt => "mobile", width: 60) %>
							<br/>SERVER SIDE
						</center> 
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3"></div>
		</div>
		<br/><br/>
	</div>
</div>

<div class="container-fluid" id="founded" style="
	font-family: 'Raleway', sans-serif;
">

		<br/><br/><br/>
	<div class="row">
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
		<div class="col-md-8 col-lg-8 col-xl-8">
			<center>
				<h2>
					About us
				</h2><br/>
				<p style="font-size: 20px;">Web Corp was founded in 2000 by one engineer and since then has grown into an international software solutions development services provider.</p>
			</center>
		</div>
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
	</div>
	<br/><br/>
	<div class="row">
		<div class="col-md-4 col-lg-4 col-xl-4">
			<center>
			<p style="font-size: 17px;">
				<b>Headquarters</b><br/>
				---location...
			</p>
			</center>
		</div>
		<div class="col-md-4 col-lg-4 col-xl-4">
			<div id="map" style="height: 200px;"></div>
		</div>
		<div class="col-md-4 col-lg-4 col-xl-4">
			<center>
			<p style="font-size: 17px;">
				<b>Development centers</b><br/>
				---locations...
			</p>
			</center>
		</div>
	</div>
	<br/><br/><br/>
</div>
<div class="container-fluid" id="founded" style="
	font-family: 'Raleway', sans-serif; background-color: #48b8d0;
">

		<br/><br/><br/>
	<div class="row">
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
		<div class="col-md-8 col-lg-8 col-xl-8">
			<center>
				<h2>
					Leadership
				</h2><br/>
				<p style="font-size: 20px;">We are experts in building applications that perfectly match our clients needs. Leaders in every way, our team is agile and learns fast adapting early in every situation.<br/>
				</p>
			</center>
		</div>
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
	</div>
	<br/><br/><br/>
</div>

<div class="container-fluid" id="founded" style="
	font-family: 'Raleway', sans-serif;
">

	<br/><br/><br/>
	<div class="row">
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
		<div class="col-md-8 col-lg-8 col-xl-8">
			<center>
				<h2>
					We appreciate our relationship with clients
				</h2><br/>
				<div class="card border-primary" style="" >
					<div class="card-body">
						client reference 1
					</div>
				</div>
				<br/>

				<div class="card border-primary" style="" >
					<div class="card-body">
						client reference 2
					</div>
				</div>
			</center>
		</div>
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
	</div>
	<br/><br/><br/>
</div>

<div class="container-fluid" id="founded" style="
	font-family: 'Raleway', sans-serif;
">

	<br/><br/><br/>
	<div class="row">
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
		<div class="col-md-8 col-lg-8 col-xl-8">
			<center>
				<h2>
					We care about our clients intellectual property
				</h2><br/>
				<p style="font-size: 20px;">Business ethics is at the heart and soul of our company's culture. We’re committed to maintaining trusting relationships with our clients.
				</p>
			</center>
		</div>
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
	</div>
	<div class="row">
		<div class="col-md-3 col-lg-3 col-xl-3">
			<center>
			<div class="card border-primary" style="" >
				<div class="card-body">
					<%= image_tag("agree.svg", :alt => "web", width: 60) %>
					<br/>CONSULTING & AUDIT
				</div>
			</div>
			</center>
		</div>
		<div class="col-md-3 col-lg-3 col-xl-3">
			<center>
			<div class="card border-primary" style="" >
				<div class="card-body">
					<%= image_tag("conf.svg", :alt => "web", width: 60) %>
				    <br/>CONSULTING & AUDIT
				</div>
			</div>
			</center>
		</div>
		<div class="col-md-3 col-lg-3 col-xl-3">
			<center>
			<div class="card border-primary" style="" >
				<div class="card-body">
					<%= image_tag("hands.svg", :alt => "web", width: 60) %>
					<br/>CONSULTING & AUDIT
				</div>
			</div>
			</center>
		</div>
		<div class="col-md-3 col-lg-3 col-xl-3">
			<center>
			<div class="card border-primary" style="" >
				<div class="card-body">
					<%= image_tag("staer.svg", :alt => "web", width: 60) %>
					<br/>CONSULTING & AUDIT
				</div>
			</div>
			</center>
		</div>
	<br/><br/><br/>
</div>

<div class="container-fluid" id="founded" style="
	font-family: 'Raleway', sans-serif;
">

	<br/><br/><br/>
	<div class="row">
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
		<div class="col-md-8 col-lg-8 col-xl-8">
			<center>
				<h2>
					Our Office
				</h2><br/>
				<p style="font-size: 20px;">Web Corp was founded in 2000 by one engineer and since then has grown into an international software solutions development services provider.<br/>
				Our technology experts bring the energy, the passion and the knowledge that separates MentorMate from the pack. Leaders in every way, our team adopts early and learns fast. Get to know them. 

				</p>
			</center>
		</div>
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
	</div>
	<br/><br/><br/>
</div>