<div id="#company" class="container-fluid" style="
	font-family: 'Raleway', sans-serif;
">
	<div class="row" style="margin-top: 5%;">
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
		<div class="col-md-8 col-lg-8 col-xl-8">
			<center>
				<h2>
					Software solutions provider
				</h2><br/>
				<p style="font-size: 20px;">We've built a strong leading team of software engineers, designers, project managers and specialists in all areas required to provide high standard products to our clients.</p>
			</center>
		</div>
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
	</div>
</div>
	<div class="container-fluid" id="svgs" style="
	font-family: 'Raleway', sans-serif;">
		<div class="row slideanim">
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary">
					<div class="card-body" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
						<center>
							<%= image_tag("web.svg", :alt => "web", width: 60) %>
							<br/>WEB
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary">
					<div class="card-body">
						<center>
							<%= image_tag("desk.svg", :alt => "mobile", width: 60) %>
							<br/>DESKTOP
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary" >
					<div class="card-body">
						<center>
							<%= image_tag("mobile.svg", :alt => "web", width: 60) %> 
							<br/>MOBILE
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary">
					<div class="card-body">
						<center>
							<%= image_tag("ui.svg", :alt => "web", width: 60) %>
							<br/>UI
						</center>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="row slideanim">
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary">
					<div class="card-body">
						<center>
							<%= image_tag("outsourcing.svg", :alt => "web", width: 60) %>
							<br/>OUTSOURCING
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary">
					<div class="card-body">
						<center>
							<%= image_tag("headhunting.svg", :alt => "mobile", width: 60) %>
							<br/>HEADHUNTING
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary">
					<div class="card-body">
						<center>
							<%= image_tag("1077191.svg", :alt => "web", width: 60) %>
							<br/>QUALITY ASSURANCE
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary">
					<div class="card-body">
						<center>
							<%= image_tag("ux.svg", :alt => "web", width: 60) %>
							<br/>UX
						</center>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-3 col-lg-3 col-xl-3"></div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary" >
					<div class="card-body">
						<center>
							<%= image_tag("qa.svg", :alt => "web", width: 60) %>
							<br/>CONSULTING & AUDIT
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="card border-primary">
					<div class="card-body">
						<center>
							<%= image_tag("server.svg", :alt => "mobile", width: 60) %>
							<br/>SERVER SIDE
						</center> 
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3"></div>
		</div>
		<br/><br/>
	</div>
</div>

<div class="container-fluid" id="leader" style="
	font-family: 'Raleway', sans-serif; background-color: #48b8d0;
">

		<br/><br/><br/>
	<div class="row slideanim">
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
		<div class="col-md-8 col-lg-8 col-xl-8" style="color:white;">
			<center>
				<h2>
					Leadership
				</h2><br/>
				<p style="font-size: 20px;">We are experts in building applications that perfectly match our clients needs. Leaders in every way, our team is agile and learns fast adapting early in every situation.<br/>
				</p>
			</center>
		</div>
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
	</div>
	<br/><br/><br/>
</div>


<div class="container-fluid" id="about" style="
	font-family: 'Raleway', sans-serif;
">

		<br/><br/><br/>
	<div class="row slideanim">
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
		<div class="col-md-8 col-lg-8 col-xl-8">
			<center>
				<h2>
					About us
				</h2><br/>
				<p style="font-size: 20px;">Web Corp was founded in 2000 by one engineer and since then has grown into an international software solutions development services provider.</p>
			</center>
		</div>
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
	</div>
	<br/><br/>
	<div class="row slideanim">
		<div class="col-md-4 col-lg-4 col-xl-4">
			<center>
			<p style="font-size: 17px;">
				<b>Headquarters</b><br/>
				---location...
			</p>
			</center>
		</div>
		<div class="col-md-4 col-lg-4 col-xl-4">
			<div id="map" style="height: 200px;"></div>
		</div>
		<div class="col-md-4 col-lg-4 col-xl-4">
			<center>
			<p style="font-size: 17px;">
				<b>Development centers</b><br/>
				---locations...
			</p>
			</center>
		</div>
	</div>
	<br/><br/><br/>
</div>

<div class="container-fluid" id="idea" style="
	font-family: 'Raleway', sans-serif; background-color: #30d969;
">

	<br/><br/><br/>
	<div class="row slideanim">
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
		<div class="col-md-8 col-lg-8 col-xl-8"  style="color:white;">
			<center>
				<h2>
					Have a great idea?
				</h2><br/>
				<a href="/contact" class="btn btn-light" role="button">Let's do it!</a>
			</center>
		</div>
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
	</div>
	<br/><br/><br/>
</div>

<div class="container-fluid" id="ip" style="
	font-family: 'Raleway', sans-serif;
">

	<br/><br/><br/>
	<div class="row slideanim">
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
		<div class="col-md-8 col-lg-8 col-xl-8">
			<center>
				<h2>
					We care about our clients intellectual property
				</h2><br/>
				<p style="font-size: 20px;">Business ethics is at the heart and soul of our company's culture. We’re committed to deliver robust experiences and maintaining trusting relationships with our clients.
				</p>
			</center>
		</div>
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
	</div>
	<div class="row slideanim">
		<div class="col-md-4 col-lg-4 col-xl-4">
			<center>
			<div class="card border-primary" style="" >
				<div class="card-body">
					<%= image_tag("agree.svg", :alt => "web", width: 60) %>
					<br/>CLEAN & TRANSPARENT AGREEMENTS
				</div>
			</div>
			</center>
		</div>
		<div class="col-md-4 col-lg-4 col-xl-4">
			<center>
			<div class="card border-primary" style="" >
				<div class="card-body">
					<%= image_tag("conf.svg", :alt => "web", width: 60) %>
				    <br/>PROTECTION OF CONFIDENTIALITY
				</div>
			</div>
			</center>
		</div>
		<div class="col-md-4 col-lg-4 col-xl-4">
			<center>
			<div class="card border-primary" style="" >
				<div class="card-body">
					<%= image_tag("hands.svg", :alt => "web", width: 60) %>
					<br/>CULTURE OF RESPECT
				</div>
			</div>
			</center>
		</div>
	</div>
	<br/><br/><br/>
</div>


<div class="container-fluid" id="CT" style="
	font-family: 'Raleway', sans-serif;
">
	<div class="row slideanim">
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
		<div class="col-md-8 col-lg-8 col-xl-8">
			<h2><center>
				Clients Testimonials
			</center></h2><br/>
		</div>
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
	</div>
	<div class="row slideanim">
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
		<div class="col-md-4 col-lg-4 col-xl-4">
			<center>
				<div class="card text-center">
					<div class="card-header">
					    Featured
					</div>
					<div class="card-body">
						<h5 class="card-title">Client name</h5>
					    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					    <a href="#" class="btn btn-primary">Ask for client reference</a>
					</div>
				</div>
			</center>
		</div>
		<div class="col-md-4 col-lg-4 col-xl-4">
			<center>
				<div class="card text-center">
					<div class="card-header">
					    Featured
					</div>
					<div class="card-body">
						<h5 class="card-title">Client name 2</h5>
					    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					    <a href="#" class="btn btn-primary">Ask for client reference</a>
					</div>
				</div>
			</center>
		</div>
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
	</div>
	<br/><br/><br/>
</div>