<div id="#services" class="container-fluid" style="
	font-family: 'Raleway', sans-serif;
">
	<div class="row" style="margin-top: 5%;">
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
		<div class="col-md-8 col-lg-8 col-xl-8">
			<center>
				<h2>
					Core Services
				</h2>
			</center>
		</div>
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
	</div>
</div>
<div class="container-fluid">
		<center>
			<div class="card-deck slideanim">
			  <div class="card">
			    <div class="card-body text-center">
				   		<a href="#ux">
					   		<%= image_tag("uxcolor.svg", :alt => "user experience", width: 60) %>
					      	<p class="card-text">User Experience</p>
					    </a>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-body text-center">
			    	<%= image_tag("ssicolor.svg", :alt => "software solutions for industries", width: 60) %>
			    	<p class="card-text">Software Solutions for Industries</p>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-body text-center">
			    	<%= image_tag("cacolor.svg", :alt => "consulting & audit", width: 60) %>
			      	<p class="card-text">Consulting & Audit</p>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-body text-center">
			    	<%= image_tag("wdcolor.svg", :alt => "agile web development", width: 60) %>
			      <p class="card-text">Agile Web Development</p>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-body text-center">
			    	<%= image_tag("mdcolor.svg", :alt => "agile mobile development", width: 60) %>
			      <p class="card-text">Agile Mobile Development</p>
			    </div>
			  </div>
		</center>
	<br/>
	<center>
		<div class="card-deck slideanim">
		  <div class="card">
		    <div class="card-body text-center">
		    	<%= image_tag("ocolor.svg", :alt => "Outsourcing", width: 60) %>
		      <p class="card-text">Outsourcing</p>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-body text-center">
		    	<%= image_tag("hhcolor.svg", :alt => "Headhunting", width: 60) %>
		      <p class="card-text">Headhunting</p>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-body text-center">
		    	<%= image_tag("sacolor.svg", :alt => "server administration & maintenance", width: 60) %>
		      <p class="card-text">Server Administration & Maintenance</p>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-body text-center">
		    	<a href="#qa">
			    	<%= image_tag("qacolor.svg", :alt => "Quality Assurance", width: 60) %>
			      <p class="card-text">Quality Asurance</p>
			    </a>
		    </div>
		  </div>
		</div>
	</center>
</div>
	    
<div class="container-fluid bg-grey">
	<div class="accordion slideanim" id="accordionS">

	  	<div class="card">
			<div class="card-header" id="ux1">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">    	
				    	<h3>
				        	<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ux" aria-expanded="false" aria-controls="ux">
				          		User Experience 
				        	</button>
				      	</h3>
				    </div>
				    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
				    	<a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ux" aria-expanded="false" aria-controls="ux">
				          	Elevate Your Software Experience  
				        </a>
				    </div>
				</div>
		   	</div>
		    <div id="ux" class="collapse" aria-labelledby="ux1" data-parent="#accordionS">
		      	<div class="card-body">
		      		<div class="row">
		      			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 bg-blu">
		      				<div class="row">
			      				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
			      				</div>
			      				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
			      				<%= image_tag("uxcolor.svg", :alt => "user experience", width: 60) %>
			      				</div>
			      				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
			      				</div>
			      			</div>
		      			</div>
		      			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
				        	<p style="text-align: justify;">
								Able to lead the creation of the user experience or execute it through visual design, we bring expertise in all stages from proof-of-concept prototyping to complete mobile/web solution transformation. Advocates of participatory design, we collaborate with your team on stakeholder interviews, usability testing, task/decision flows, wireframes and clickable prototypes to align with the complex interdependencies presented by modern businesses.
				        	</p>
				    	</div>
		      		</div>
		    	</div>
  			</div>
		</div>
	  	<div class="card">
	    
	    	<div class="card-header" id="ssi">
	    		<div class="row">
					<div class="col-md-6 col-lg-6 col-xl-6">
	      				<h3>
	        				<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ssi1" aria-expanded="false" aria-controls="ssi1">
	          					Software Solutions for Industries
	        				</button>
	      				</h3>
	    			</div>
	    			<div class="col-md-6 col-lg-6 col-xl-6">
				    	<a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ux" aria-expanded="false" aria-controls="ux">
				          	?
				        </a>
				    </div>
	    		</div>
	    	</div>
	    	<div id="ssi1" class="collapse" aria-labelledby="ssi" data-parent="#accordionS">
	      		<div class="card-body">
	        		<div class="row">
		      			<div class="col-lg-4">
		      				<%= image_tag("ssicolor.svg", :alt => "software solutions for industries", width: 60) %>
		      			</div>
		      			<div class="col-lg-8">
				        	<p style="text-align: justify;">
								Able to lead the creation of the user experience or execute it through visual design, we bring expertise in all stages from proof-of-concept prototyping to complete mobile/web solution transformation. Advocates of participatory design, we collaborate with your team on stakeholder interviews, usability testing, task/decision flows, wireframes and clickable prototypes to align with the complex interdependencies presented by modern businesses.
				        	</p>
				    	</div>
		      		</div>
	      		</div>
	    	</div>
	  	</div>

		<div class="card">
		    
		    <div class="card-header" id="ca1">
		    	<div class="row">
					<div class="col-md-6 col-lg-6 col-xl-6">
		      			<h3 class="mb-0">
		        			<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ca" aria-expanded="false" aria-controls="ca">
		          				Consulting & Audit
		        			</button>
		      			</h3>
		      		</div>
			    	<div class="col-md-6 col-lg-6 col-xl-6">
						<a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ux" aria-expanded="false" aria-controls="ux">
						    Map Development to Business Opportunity   
						</a>
					</div>
		    	</div>
		    </div>
		    <div id="ca" class="collapse" aria-labelledby="ca1" data-parent="#accordionS">
		      	<div class="card-body">
		        	<div class="row">
		      			<div class="col-lg-4">
		      				<%= image_tag("cacolor.svg", :alt => "consulting & audit", width: 60) %>
		      			</div>
		      			<div class="col-lg-8">
				        	<p style="text-align: justify;">
								Able to lead the creation of the user experience or execute it through visual design, we bring expertise in all stages from proof-of-concept prototyping to complete mobile/web solution transformation. Advocates of participatory design, we collaborate with your team on stakeholder interviews, usability testing, task/decision flows, wireframes and clickable prototypes to align with the complex interdependencies presented by modern businesses.
				        	</p>
				    	</div>
		      		</div>
		      	</div>
		    </div>
		</div>

		<div class="card">
		    
		    <div class="card-header" id="awd">
		      	<div class="row">
		      		<div class="col-md-6 col-lg-6 col-xl-6">
				      	<h3>
				        	<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#awd1" aria-expanded="false" aria-controls="awd1">
				          		Agile Web Development
				        	</button>
				      	</h3>
				    </div>
				    <div class="col-md-6 col-lg-6 col-xl-6">
				   	</div>
			    </div>
		    </div>
		    <div id="awd1" class="collapse" aria-labelledby="awd" data-parent="#accordionS">
		      	<div class="card-body">
					<div class="row">
		      			<div class="col-lg-4">
		      				<%= image_tag("wdcolor.svg", :alt => "agile web development", width: 60) %>
		      			</div>
		      			<div class="col-lg-8">
				        	<p style="text-align: justify;">
								Able to lead the creation of the user experience or execute it through visual design, we bring expertise in all stages from proof-of-concept prototyping to complete mobile/web solution transformation. Advocates of participatory design, we collaborate with your team on stakeholder interviews, usability testing, task/decision flows, wireframes and clickable prototypes to align with the complex interdependencies presented by modern businesses.
				        	</p>
				    	</div>
		      		</div>        
		      	</div>
		    </div>
		</div>

		<div class="card">
		    
		    <div class="card-header" id="amd">
		      	<div class="row">
		      		<div class="col-md-6 col-lg-6 col-xl-6">
				      	<h3>
					        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#amd1" aria-expanded="false" aria-controls="amd1">
					          Agile Mobile Development
					        </button>
				      	</h3>
				    </div>
				    <div class="col-md-6 col-lg-6 col-xl-6">

				    </div>
				</div>
		    </div>
		    <div id="amd1" class="collapse" aria-labelledby="amd" data-parent="#accordionS">
		      	<div class="card-body">
		      		<div class="row">
		      			<div class="col-lg-4">
		      				<%= image_tag("mdcolor.svg", :alt => "agile mobile development", width: 60) %>
		      			</div>
		      			<div class="col-lg-8">
				        	<p style="text-align: justify;">
								Able to lead the creation of the user experience or execute it through visual design, we bring expertise in all stages from proof-of-concept prototyping to complete mobile/web solution transformation. Advocates of participatory design, we collaborate with your team on stakeholder interviews, usability testing, task/decision flows, wireframes and clickable prototypes to align with the complex interdependencies presented by modern businesses.
				        	</p>
				    	</div>
		      		</div>
		      	</div>
		    </div>
		</div>

		<div class="card">
		    
		    <div class="card-header" id="ou">
		      	<div class="row">
		      		<div class="col-md-6 col-lg-6 col-xl-6">
				      	<h3>
				        	<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ou1" aria-expanded="false" aria-controls="ou1">
				          		Outsourcing
				        	</button>
				      	</h3>
				    </div>
				    <div class="col-md-6 col-lg-6 col-xl-6">
				   	</div>
				</div>
		    </div>
		    <div id="ou1" class="collapse" aria-labelledby="ou" data-parent="#accordionS">
		    	<div class="card-body">
			        <div class="row">
		      			<div class="col-lg-4">
		      				<%= image_tag("ocolor.svg", :alt => "Outsourcing", width: 60) %>
		      			</div>
		      			<div class="col-lg-8">
				        	<p style="text-align: justify;">
								Able to lead the creation of the user experience or execute it through visual design, we bring expertise in all stages from proof-of-concept prototyping to complete mobile/web solution transformation. Advocates of participatory design, we collaborate with your team on stakeholder interviews, usability testing, task/decision flows, wireframes and clickable prototypes to align with the complex interdependencies presented by modern businesses.
				        	</p>
				    	</div>
		      		</div>
		      	</div>
		    </div>
		</div>

		<div class="card">
		    
		    <div class="card-header" id="hu">
		      	<div class="row">
		      		<div class="col-md-6 col-lg-6 col-xl-6">
				      	<h3>
				        	<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#hu1" aria-expanded="false" aria-controls="hu1">
				          		Headhunting
				        	</button>
				      	</h3>
				    </div>
				    <div class="col-md-6 col-lg-6 col-xl-6">
				    </div>
				</div>
		    </div>
		    <div id="hu1" class="collapse" aria-labelledby="hu" data-parent="#accordionS">
			    <div class="card-body">
			    	<div class="row">
		      			<div class="col-lg-4">
		      				<%= image_tag("hhcolor.svg", :alt => "Headhunting", width: 60) %>
		      			</div>
		      			<div class="col-lg-8">
				        	<p style="text-align: justify;">
								Able to lead the creation of the user experience or execute it through visual design, we bring expertise in all stages from proof-of-concept prototyping to complete mobile/web solution transformation. Advocates of participatory design, we collaborate with your team on stakeholder interviews, usability testing, task/decision flows, wireframes and clickable prototypes to align with the complex interdependencies presented by modern businesses.
				        	</p>
				    	</div>
		      		</div>    
			    </div>
		    </div>
		</div>

		<div class="card">
		    
		    <div class="card-header" id="sa">
		      	<div class="row">
		      		<div class="col-md-6 col-lg-6 col-xl-6">
				      	<h3>
				        	<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#sa1" aria-expanded="false" aria-controls="sa1">
				          		Server Administration & Maintenance
				        	</button>
				      	</h3>
				    </div>
				    <div class="col-md-6 col-lg-6 col-xl-6">
				   	</div>
				</div>
		    </div>
		    <div id="sa1" class="collapse" aria-labelledby="sa" data-parent="#accordionS">
		      	<div class="card-body">
		        	<div class="row">
		      			<div class="col-lg-4">
		      				<%= image_tag("sacolor.svg", :alt => "server administration & maintenance", width: 60) %>
		      			</div>
		      			<div class="col-lg-8">
				        	<p style="text-align: justify;">
								Able to lead the creation of the user experience or execute it through visual design, we bring expertise in all stages from proof-of-concept prototyping to complete mobile/web solution transformation. Advocates of participatory design, we collaborate with your team on stakeholder interviews, usability testing, task/decision flows, wireframes and clickable prototypes to align with the complex interdependencies presented by modern businesses.
				        	</p>
				    	</div>
		      		</div>
		      	</div>
		    </div>
		</div>

 	 	<div class="card">
    
    		<div class="card-header" id="qa">
      			<div class="row">
      				<div class="col-md-6 col-lg-6 col-xl-6">
		      			<h5 class="mb-0">
		        			<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#qa1" aria-expanded="false" aria-controls="qa1">
		          				Quality Assurance
		        			</button>
		      			</h5>
		      		</div>
		      		<div class="col-md-6 col-lg-6 col-xl-6">
		      		</div>
		      	</div>
    		</div>
    		<div id="qa1" class="collapse" aria-labelledby="qa" data-parent="#accordionS">
	    		<div class="row">
		      		<div class="col-lg-4">
		      			<%= image_tag("qacolor.svg", :alt => "Quality Assurance", width: 60) %>
		      		</div>
		      		<div class="col-lg-8">
				        <p style="text-align: justify;">
							Able to lead the creation of the user experience or execute it through visual design, we bring expertise in all stages from proof-of-concept prototyping to complete mobile/web solution transformation. Advocates of participatory design, we collaborate with your team on stakeholder interviews, usability testing, task/decision flows, wireframes and clickable prototypes to align with the complex interdependencies presented by modern businesses.
				        </p>
				    </div>
		      	</div>
			</div>
		</div>
	</div>

</div>

