<!DOCTYPE html>
<html>
  <head>
    <title>Wc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />

    <%= stylesheet_link_tag    'jquery-jvectormap-2.0.3', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery-jvectormap-2.0.3.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery-jvectormap-world-mill', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            logo
          </div>
          <div class="col-sm-8">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link" style="color:black;" href="/company">COMPANY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color:black;" href="/services">SERVICES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color:black;" href="/expertise">EXPERTISE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color:black;" href="/blog">BLOG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color:black;" href="/contact">GET IN TOUCH</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
    <%= yield %>
  </body>
</html>
